<br>
<br>
<br>
<br>
<br>



<div id="myCarousel" class="carousel slide" data-ride="carousel">

	<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
        	<br>
        	<br>
        	<br>
        	<br>
        	<br>
          <img src="/images/Final-LogoBlack1.png" alt="First slide">
          <br>
          <br>
          <div class="container">
          
              <h1>Reviews and Resources to Help you Work Out Away From Home</h1>
            
          </div>
        </div>
        <div class="item">

        	
          <img src="/images/biking_tokyo_gym.jpg" width= "100%" alt="Second slide"> 
          <div class="container">
          	
            <!-- <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          -->

          </div>
        </div>


        <div class="item">

        	
          <img src="/images/man_tokyo_gym.jpg" width= "100%" alt="Third slide"> 

        </div>





        <div class="item">
          <img src="/images/color_airplane.jpg" width= "100%" alt="Fourth slide">
          <div class="container">
          	<!--
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          -->
          </div>
        </div>
      </div>




</div>









<h1>FiTiFLY Locations</h1>

<% @locations.each do |r| %>
<a href="/locations/<%= r.id %>"><%= r.name %></a>
<br>
<% end %>

<br>


<b><a href = '/gyms'>All Fitifly Facilities</a></b>

<br>
<br>
<br>
<br>

<!-- Form for inputting geographic location on site through web. 
<font color= "#290088">
<br>
<br>
<%= form_for Location.new, url: '/location_create' do |foo| %>

Name:  
<%= foo.text_field :name %> 
<br>
Zip:     
<%= foo.text_field :zip %>
<br>
<br>

<%= foo.submit "Add Fitifly Geographic Location" %></font>
  <% end %>

-->




